@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins";
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 12px 0;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

body {
  padding: 80px;
}

.nav-r1 > img {
  width: 150px;
  height: auto;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.nav-r1 {
  display: flex;
  justify-content: space-around;
}

.address {
  padding: 10;
}

.login-btn {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.signup-btn {
  background-color: #c21760;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.navbar > ul {
  display: flex;
  gap: 26px;
  list-style: none;
  margin: 20px;
  padding: 10px;
}

.navbar ul li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-bottom: 1px;
  padding: 0;
}

.address {
  display: flex;
}

.lang-select {
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}
body {
  padding-top: 200px;
}

.sidebar {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.layout {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

.sidebar {
  width: 260px;
  padding: 20px;
  position: sticky;
  top: 120px;
  height: 300px;
  border-radius: 10px;
  border-color: rgb(235, 220, 220);
  border-style: solid;
  border-width: 0.5px;
  overflow-y: scroll;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.filter-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  font-size: 14px;
}
.cuisine-search {
  border-radius: 5px;
}
.main-search {
  width: 800px;
  height: 50px;
  border-radius: 30px;
}
.banner {
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 25px;
  width: 900px;
  height: 150px;
  background-color: #ffdddd;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.banner > img {
  width: 200px;
  height: auto;
}
.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.restaurant-card {
  border-radius: 10px;
  border-color: rgb(235, 220, 220);
  border-style: solid;
  border-width: 0.5px;
}
.rest-img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.rest-name,
.description,
.rating {
  padding-left: 5px;
  padding-bottom: 0;
}
.main-container {
  margin: 10px;
}
